logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
public/static
.env.local
.env.development.local
.env.test.local
.env.production.local
/config.js
/public_html
/.htaccess

# exclude everything
json_static/*

# exception to the rule
!json_static/.gitkeep 