.thread-list {
  list-style:none;
  padding:0;
  width:100%;
}

.thread-list .thread {
  display:table;
  height:35px;
  width:100%;
  padding:2px;
}

.thread span.icon {
  display:table-cell;
  font-size:20px;
}

.thread span.icon a:hover {
  opacity:1;
}

.icon a, .icon a:focus {
  text-decoration:none;
  color:#000;
  padding:0 2px;
  opacity:0.2;
}

.thread .time {
  font-weight:bold;
  padding:0 10px;
  width:68px;
  font-size:12px;
  display:table-cell;
}

.thread {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.thread .title {
  padding:2px 5px;
  font-size:18px;
  display:table-cell;
}

.thread:hover {
  background:rgba(70,163,230,0.2);
}

