#formdiv {
  padding-bottom:5%;
  margin-left:14%;
  margin-right:14%;
  border-radius:10.2px;
  box-shadow:0 0 16px rgba(81, 203, 238, 1);
}

.title-full-news {
  display: inline-block;
  margin: 0 20px 0 0;
}

.crypto-details-images {
	margin: 20px auto 10px;
}
.crypto-details-images .fa {
	font-size: 30px;
	padding: 0 10px;
}

.ovh {
	overflow: hidden;
}

.ovh .alert {
	margin-bottom: 5px;
}

.fade-enter {
  max-height: 0;  
}

.fade-enter.fade-enter-active {
  max-height: 200px;
  transition: max-height 1000ms ease-in;
}

.fade-exit {
  max-height: 200px;
}

.fade-exit.fade-exit-active {
  max-height: 0;
  transition: max-height 400ms ease-in;
}

.loader-container {
	position: relative;
}

.loader-container .loader-abs {
	position: absolute;
	left: -15px;
	top:-10px;
	right: -15px;
	bottom: -10px;
    background: rgba(0,0,0,0.15);
}
.overflow-wrap {
  overflow-wrap: break-word;
}

.tx-arrow {
  font-size: 58px;
  line-height: 39px;
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 0 0 30px 0;
}

.tx-centered-table {margin: 0 auto;}
.tx-centered-col {
  background: #f2f2f2;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 15px 15px;
  position: relative;
  top: -10px;
}